{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<div class="breadcrumb">
  {% for crumb in crumbs offset: 1 %}
    {% assign crumb_name = crumb | replace:'-',' ' | remove:'.html' | capitalize %}
    {% if crumb == 'documentation' %}
      <a href="{{ site.url }}">Home</a>
    {% elsif crumb == 'documentacion' %}
    {% elsif crumb == 'es' %}
      <a href="{{ site.url }}es">Inicio</a>
    {% elsif forloop.last or crumb == 'documentation' or crumb == 'documentacion' %}
      / {{ crumb_name }}
    {% else %}
      / <a href="{{ site.url }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
        {{ crumb_name }}
        </a>
    {% endif %}
  {% endfor %}
</div>
