<nav>
  <ul>
    <li>
      <a href="{{ site.url }}">Documentation</a>
    </li>
    <li>
      <a href="https://sourceforge.net/projects/photoduino/files/" target="blank">Downloads</a>
    </li>
    <li>
      <a href="https://github.com/kalanda/photoduino" target="_blank">Repository</a>
    </li>
    <li>
    {% if page.lang == 'es' %}
      <a class="language" href="{{ site.url }}">English version</a>
    {% else %}
      <a class="language" href="{{ site.url }}es">Versión en español</a>
    {% endif %}
    </li>
  </ul>
</nav>
