---
---

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #414141;
  background-color: #f4f5f1;
  font-size: 14px;
}

.wrapper {
  width: 660px;
  margin: 0 auto;
  position: relative;
}

.group:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

h1 {
  font-weight: 300;
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  color: #252622;
  text-transform: uppercase;
  border-bottom: 1px dotted #e5e7dd;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0 5px 0;
  padding: 0 0 5px 0;
  color: #252622;
  text-transform: uppercase;
  border-bottom: 1px dotted #e5e7dd;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  margin: 20px 0 5px 0;
  padding: 0 0 5px 0;
  color: #252622;
  text-transform: uppercase;
  border-bottom: 1px dotted #e5e7dd;
}

ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
  width: 100%;

  th,
  td {
    padding: 5px;
    text-align: left;
    border: 1px solid #cecece;
    font-size: 12px;
    vertical-align: top;
  }

  th {
    background-color: #eeeeee;
  }

  ul {
    padding: 0 !important;
    margin: 0 !important;

    li {
      padding: 0 !important;
      margin: 0 !important;
      list-style-position: inside;
      list-style-type: circle;
    }
  }
}

code {
  display: block;
  color: #eeeeee;
  background-color: #222227;
  padding: 5px;
}

header {
  text-align: center;
  background-color: #222227;

  h1 {
    float: left;
    margin: 0;
    padding: 10px 30px;
    border-bottom: none;

    a {
      display: inline-block;
      background: url("logo.png") 50% 50% no-repeat;
      width: 270px;
      height: 100px;
      text-indent: -20000px;
      margin: 0;
    }
  }

.languages_selector {
  top: 20px;
  margin: 0;
  position: absolute;
  right: 0px;
  margin: 0;
  background: url("icon_language.png") 10px 50% no-repeat;
  padding: 2px 2px 2px 30px;
  line-height: 18px;
  list-style: none;
  background-color: #000000;
  border: 1px solid #333;
  border-radius: 15px;
  li {
    font-size: 11px;
    float: left;
    margin: 0;
  }
  a {
    text-transform: uppercase;
    font-weight: 400;
    color: #949597;
    text-decoration: none;
    display: block;
    padding: 3px 8px;
    border-radius: 15px;
    &.active {
      color: #a4a5a7;
      background-color: #222227;
    }
    &:hover {
      color: #B3BE01;
    }
  }
}
}

nav {
  background-color: #000;
  border-top: 1px dotted #464850;
  padding: 8px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      font-size: 13px;
      padding: 2px 10px;
      margin: 0 0 0 0;
      list-style: none;
      text-transform: uppercase;
      font-weight: 400;
      border-right: 1px dotted #464850;

      a {
        color: #d4d5d7;
        display: block;
        text-decoration: none;

        &:hover {
          color: #B3BE01;
        }
      }

      &:last-child,
      &.last-child {
        border-right: none;
      }
    }
  }
}

main {
  background-color: #e5e7dd;
  padding: 20px;

  a {
    color: #829000;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

article {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  clear: both;

  ul,
  ol {
    padding: 0 0 0 10px !important;
  }

  ul li,
  ol li {
    margin: 0 0 5px 10px;
    list-style-position: outside;
  }

  ul li ul {
    margin-top: 5px;
  }

  img {
    border: 1px solid #e5e7dd;
  }
}

.breadcrumb {
  font-size: 11px;
  padding: 0 0 15px 0;
  color: #666;
  font-style: italic;

  a {
    color: #666 !important;
  }
}

.content {
  padding: 15px 30px;
  background-color: #ffffff;
  border: #DCDFD2 solid 1px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

