/**
 * Theme Name: Photoduino Theme
 * Theme URI: http://photoduino.github.io
 * Description: A description of your theme.
 * Version: 0.2
 * Tags: some, tags
 * Template: prototype
 */
#comments-template,
.entry-meta {
	display: none;
}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block; }
audio,
canvas,
video { display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) { display: none; }
[hidden] { display: none;}
html { font-size: 100%;  overflow-y: scroll;  -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%;  }
body { margin: 0; }
body,
button,
input,
select,
textarea { font-family: sans-serif; }
a:focus { outline: thin dotted; }
a:hover,
a:active { outline: 0; }
h1 { font-size: 2em; }
abbr[title] { border-bottom: 1px dotted; }
b,
strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre,
code,
kbd,
samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before,
q:after { content: ''; content: none; }
small { font-size: 75%; }
sub,
sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul,
ol { margin-left: 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul,
nav ol { list-style: none; list-style-image: none; }
img { border: 0;  -ms-interpolation-mode: bicubic;  }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0;  padding: 0; white-space: normal;  *margin-left: -7px; }
button,
input,
select,
textarea { font-size: 100%;  margin: 0;  vertical-align: baseline;  *vertical-align: middle; }
button,
input { line-height: normal;  }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer;  -webkit-appearance: button;  *overflow: visible;  }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box;  padding: 0;  *height: 13px;  *width: 13px; }
input[type="search"] { -webkit-appearance: textfield;  -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box; }
 input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
 input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none;}
 button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}
textarea { overflow: auto;  vertical-align: top;  }
table { border-collapse: collapse; border-spacing: 0; }
/* Clear fix */
.group:after,
.wrap:after,
.hentry:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
/* Body */
body { font-family: Helvetica Neue, Helvetica, sans-serif; margin:0; padding:0; color:#414141; font-size:13px; background-color:#f4f5f1; }
h1 { font-family: 'Open Sans', sans-serif; font-weight:300; font-size:28px; margin:0 0 15px 0; padding:0 0 15px 0; color:#252622; text-transform:uppercase; border-bottom: 1px dotted #e5e7dd; }
h2 { font-family: 'Open Sans', sans-serif; font-weight:400; font-size:18px; margin:30px 0 5px 0; padding:0 0 5px 0; color:#252622; text-transform:uppercase; border-bottom: 1px dotted #e5e7dd; }
h3 { font-family: 'Open Sans', sans-serif; font-weight:400; font-size:14px; margin:20px 0 5px 0; padding:0 0 5px 0; color:#252622; text-transform:uppercase; border-bottom: 1px dotted #e5e7dd; }
/* Common styles */
#header { background-color:#222227 }
#header .wrap { width:660px; margin:0 auto; position:relative; }
#branding { height:100px; }
#site-title { margin:0; padding:0; border-bottom:none; }
#site-title a { display:block; background:url("images/logo.png") 50% 50% no-repeat; width:270px; height:100px; text-indent:-20000px; margin:0; }
#site-description { display:none; }
#languages_selector { top: 20px; margin:0; position: absolute; right: 0px; margin:0; background:url("images/icon_language.png") 10px 50% no-repeat; padding:2px 2px 2px 30px; line-height:18px; list-style:none; background-color:#000000; border:1px solid #333; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px }
#languages_selector li { font-family: 'Open Sans', sans-serif; font-size:11px; float:left; margin:0; }
#languages_selector a { text-transform:uppercase; font-weight:400; color:#949597; text-decoration:none; display:block; padding:3px 8px; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px }
#languages_selector a.active { color:#a4a5a7; background-color:#222227 }
#languages_selector a:hover { color:#B3BE01; }
#menu-secondary { background-color:#000; border-top: 1px dotted #464850; }
#menu-secondary .wrap { width:660px; margin:0 auto; }
#menu-secondary .wrap .menu { float:left; padding:8px 0; }
#menu-secondary .wrap .menu ul { list-style:none; padding:0; margin:0; }
#menu-secondary .wrap .menu ul li { float: left; font-family: 'Open Sans', sans-serif; font-size:13px; padding: 2px 10px; margin:0 0 0 0; list-style:none; text-transform:uppercase; font-weight:400; border-right:1px dotted #464850; }
#menu-secondary .wrap .menu ul li a { color:#d4d5d7; display:block; text-decoration:none; }
#menu-secondary .wrap .menu ul li a:hover { color:#B3BE01; }
#menu-secondary .wrap .menu ul li:last-child,
#menu-secondary .wrap .menu ul li.last-child { border-right:none; }
#menu-secondary #cse-search-box { float:right; padding:8px 0 0 0; }
#menu-secondary #cse-search-box .search_text { border:1px solid #464850; padding:3px; background-color:#000 !important; background-image:none !important; border-radius:3px; color:#eee; }
#menu-secondary #cse-search-box .search_button { border:0 none; background:url("images/search_icon.png") 50% 50% no-repeat; text-indent:-20000px; width:22px; height:22px; }
#main { background-color:#e5e7dd; padding:20px 0; }
#main .wrap { width:660px; margin:0 auto; }
#main a { color:#829000; text-decoration:underline; }
#main a:hover { text-decoration:underline }

.breadcrumbs { font-size:11px; padding:0 0 15px 0; color:#666; font-style:italic; }
.breadcrumbs a { color:#666 !important; }
.breadcrumbs .trail-before { display:none; }
#footer { display:none }
#footer .wrap { width:900px; margin:0 auto; color:#62655B; text-align:center; font-size:11px; border-top: 1px solid #e5e7dd; }
#footer .wrap a { color:#32352B; text-decoration:none; }
#footer .wrap a:hover { text-decoration:underline; }
.hentry { padding:0 0 20px 0; margin:0 0 20px 0; clear:both; }
.singular .hentry { }
.hentry ul,
.hentry ol { padding:0 0 0 10px !important; }
.hentry ul li,
.hentry ol li { margin:0 0 5px 10px; list-style-position:outside; }
.hentry ul li ul { margin-top:5px; }
.hentry .byline { font-size:11px; margin:0 0 15px 0; color:#999999; }
.hentry .byline a { color:#999 !important; }
.hentry .entry-meta { font-size:11px; margin:0 0 5px 0; }
.hentry .entry-title { }
.hentry h2.entry-title { font-size:24px; line-height:28px; }
.hentry .entry-summary { line-height:20px; }
.hentry .entry-content { line-height:20px; color:#62655B }
.hentry .entry-content em { font-style:italic; color:#32352B; }
.hentry .entry-content img { border: 1px solid #e5e7dd; }
.hentry .thumbnail { background: none repeat scroll 0 0 #f4f5f1; border: 1px solid #e5e7dd; float: right; height: 150px; margin: 0 0 10px 15px; padding: 4px; width: 150px; }
.wp-smiley { border:0 none !important; }
.hentry { border-bottom: 1px dotted #e5e7dd; }
.hentry table { margin:20px 0; width:100% }
.hentry table th,
.hentry table td { padding:5px; text-align:left; border:1px solid #cecece; font-size:12px; vertical-align:top }
.hentry table th { background-color:#eeeeee; }
.hentry table ul { padding:0 !important; margin:0 !important; }
.hentry table ul li { padding:0 !important; margin:0 !important; list-style-position:inside; list-style-type:circle }
#content { padding:15px 30px; background-color:#ffffff; border: #DCDFD2 solid 1px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }
.layout-default #main #content { float:left; width:600px; }
.layout-default #main .sidebar { float:right; width:220px; }
.layout-2c-l #main #content { float:right; width:700px; }
.layout-2c-l #main .sidebar { float:left; width:180px; }
.pagination { margin:20px 0; text-align: center; }
.pagination a { padding:3px 5px; background-color:#f4f5f1; border:1px solid #f1f1f1; }
.pagination span { padding:3px 5px; }
#main .sidebar .widget { margin:0 0 15px 0; padding:10px 20px; background-color:#fff; border: #DCDFD2 solid 1px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }
#main .sidebar .widget h3 { font-family: 'Open Sans', sans-serif; font-weight:300; font-size:14px; margin:0 0 5px 0; padding:0 0 5px 0; color:#000; text-transform:uppercase; border-bottom: 1px solid #e5e7dd; font-weight:400; }
#main .sidebar .widget ul { padding:0; }
#main .sidebar .widget ul li { margin:0 0 6px 0px; padding:0 0 0 10px; background:url("images/bullet_1.png") 0 3px no-repeat; list-style:none; }
#main .sidebar .widget ul li a { text-decoration:none; color:#828678 }
#main .sidebar .widget ul li a:hover { text-decoration:underline; }
#main .sidebar .widget ul li ul { border-top:1px solid #e5e7dd; border-bottom:1px solid #e5e7dd; margin-top:6px; padding-top:6px; }
#main .sidebar .widget ul li.current_page_item > a { color:#444; }
.comment-list,
.comment-list ol { list-style:none; margin:0 0 25px 0; padding:0 !important; }
.comment-list li { padding:15px 0 0 0; border-bottom:1px solid #e5e7dd; }
.comment-list li ol { border-top:1px solid #e5e7dd; }
.comment-list li ol li { margin-left:60px !important; }
.comment-list .avatar { float:left; width:40px; height:40px; margin:0 15px 10px 0; padding:2px; border:1px solid #eee }
.comment-meta { margin:0 0 5px 60px; font-size:12px; color:#999 }
.comment-meta .comment-author cite { font-style:normal; font-weight:bold; color:#858585 }
.comment-meta a { font-style:normal; color:#666; border-bottom:1px dotted #ccc }
.comment-meta a:hover { color:#000; border-bottom:1px dotted #333; text-decoration:none }
.comment-text { color:#555; margin:0 0 0 60px }
.comments-closed { padding:10px 25px; font-size:14px; color:#666; background:#f9f9f9; border-left:5px solid #ddd }
#commentform { background-color:#f4f5f1; padding:15px; }
#commentform p label { display:block; margin:0 0 5px 0 }
.hfeed div.mr_social_sharing_wrapper { margin:30px 0 !important; padding:5px !important; width:auto !important; border: #f1f1f1 solid 1px; background-color:#f8f9f6 }
.hfeed div.mr_social_sharing_wrapper span { }
#sidebar-subsidiary { border-top: 8px solid #DCDFD2; color:#899081; }
#sidebar-subsidiary .wrap { width:840px; margin:0 auto; padding:15px 0 80px 0; }
#sidebar-subsidiary .widget { float:left; padding:0; background:none; border:none; }
#sidebar-subsidiary .widget h3 { font-family: 'Open Sans', sans-serif; font-weight:300; font-size:14px; margin:0 0 5px 0; padding:0 0 5px 0; color:#000; text-transform:uppercase; border-bottom: 1px solid #e5e7dd; font-weight:400; }
#sidebar-subsidiary .widget ul { padding:0; }
#sidebar-subsidiary .widget ul li { margin:0 0 6px 0px; padding:0 0 0 10px; background:url("images/bullet_1.png") 0 3px no-repeat; list-style:none; }
#sidebar-subsidiary .widget a { text-decoration:none; color:#6b6e64 }
#sidebar-subsidiary .widget a:hover { text-decoration:underline; }
/* navigation */
#sidebar-subsidiary #hybrid-nav-menu-2 { width:140px; margin:0 30px 0 0 }
/* email suscribe */
#sidebar-subsidiary #text-3 { width:190px; }
#sidebar-subsidiary #text-3 ul li { background:none; padding:0; }
/* copy */
#sidebar-subsidiary #text-4 { width:450px; margin:0 30px 0 0 }
/* icons */
a.icon_twitter { background:url("images/icon_twitter.png") left 50% no-repeat; padding:5px 0 5px 23px; }
a.icon_rss { background:url("images/icon_rss.png") left 50% no-repeat; padding:5px 0 5px 23px; }
a.icon_email { background:url("images/icon_email.png") left 50% no-repeat; padding:5px 0 5px 23px; }
.form-submit input { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #444444; padding: 9px 16px; background: -moz-linear-gradient( top, #f0f0f0 0%, #ebebeb 50%, #bebebe); background: -webkit-gradient( linear, left top, left bottom, from(#f0f0f0), color-stop(0.50, #ebebeb), to(#bebebe)); border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #949494; -moz-box-shadow: 0px 1px 2px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,0.7); -webkit-box-shadow: 0px 1px 2px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,0.7); text-shadow: 0px -1px 0px rgba(255,255,255,0), 0px 1px 0px rgba(255,255,255,0.4); }
.widgets_on_page ul { margin:0; padding:0 !important; }
.widgets_on_page ul li { margin:0; padding:0; list-style:none; }
code { display:block; color:#eeeeee;background-color:#222227; padding:5px;}
 @media print {
#header,
 #menu-secondary,
 #sidebar-subsidiary,
 .sidebar,
 #footer,
 .hfeed div.mr_social_sharing_wrapper,
 #respond { display:none; }
#content { border:0 none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; width:90% !important; padding:0; margin:0 auto; float:left !important }
}
