/* SLIMBOX */

#tssOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#tssCenter, #tssBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.tssLoading {
	background: #fff url("images/loading.gif") no-repeat center;
}

#tssImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#tssSlide{
	display: block;
	position: absolute;
	width: 100%;
}

#tssPrevLink, #tssNextLink , #tssPrevLinkAuto, #tssNextLinkAuto {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#tssPrevLinkAuto, #tssNextLinkAuto {
	font-size: 100000px;  /* Workaround needed for IE */
	overflow: hidden;     /* Workaround needed for IE */
	color: #666;
	line-height: 9999px;
}

#tssPrevLink, #tssPrevLinkAuto {
	left: 0;
}

#tssPrevLink:hover, #tssPrevLinkAuto:hover {
	background: transparent url("images/prevlabel.gif") no-repeat 0 15%;
}

#tssNextLink, #tssNextLinkAuto {
	width: 100%;
	right: 0;
}

#tssNextLink:hover, #tssNextLinkAuto:hover {
	background: transparent url("images/nextlabel.gif") no-repeat 100% 15%;
}

#tssBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#tssCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url("images/closelabel.gif") no-repeat center;
	margin: 5px 0;
	outline: none;
}

#tssCaption, #tssNumber {
	margin-right: 71px;
}

#tssCaption {
	font-weight: bold;
}
