<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} - {{site.description }}</title>
    <meta name="description" content="{{ site.title }} - {{ site.description }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&display=swap">
    <link rel="stylesheet" href="{{ site.url }}assets/theme/style.css" type="text/css" />
  </head>
  <body>
    {% include header.html %}
    {% include menu.html %}
    <main class="main-content">
      {% include breadcrumb.html %}
      <article>
        {% if page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
          {{ content }}
      </article>
    </main>
  </body>
</html>
